body,
portal {
	font-family: sans-serif;
	display: flex;
	max-width: 700px;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@font-face {
	font-family: CherryBombOne;
	src: url(/fonts/CherryBombOne-Regular.ttf);
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

h1,
h3,
h4 {
	margin: 0;
	text-align: center;
	color: #aa7fd4;
	text-shadow: 6px 6px 0 rebeccapurple;
	font-family: CherryBombOne;
}

h1 {
	margin: 30px 0 20px 0;
	line-height: 1;
	font-size: 90px;
	rotate: 2deg;
}

h3 {
	font-size: 60px;
	rotate: -1deg;
}
